<div class="sidebar">
  <div class="sidebar-logo">
    <a href="http://comealive.io">
      <img src="{{ site.baseurl}}/images/logo.png" title="Alive logo" alt="Alive logo" />
    </a>
  </div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a href="http://comealive.io">Alive</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="http://blog.comealive.io">Blog</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="http://blog.comealive.io/About">About</a>
      </li>
    </ul>

    
  </div>
</div>
